/* allgemein */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(228, 226, 226);
    margin: 0px;
}

h1 {
    color: red;
}

i {
    font-size: 30px;
    color: white;
}

header {
    background-color: lightblue;
    padding-left: 50px;
    padding-right: 50px;
    height: 150px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #888;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.white-box {
    background-color: white;
    padding: 16px;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.berlin {
    color: grey;
    font-size: 47px;
}

.link {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.link:hover {
    color: crimson;
    text-decoration: underline;
}

.line {
    width: 100%;
    border: 1px solid #888;
}

/* bild */
.portrait {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.img-container {
    margin-bottom: 50px;
}

/* unterer bereich */
.x-margin {
    margin-left: 100px;
    margin-right: 100px;
}

.text-container {
    background-color: rgb(216, 216, 216);
    padding: 10px;
}

.map-google {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.maps-frame {
    border: 1px solid black;
    height: 350px;
    width: 70%;
}

.maps-right {
    width: 30%;
    margin-left: 16px;
}

/* Infos */
.info-box {
    margin-bottom: 50px;
}

.box-list {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.box-img {
    width: 40%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #888;
}

.box-text {
    width: 60%;
}

.card-box {
    color: gold;
    background-color: cornflowerblue;
    border: 2px solid black;
    width: 50%;
    font-size: 25px;
    padding: 10px;
    margin-right: 16px;
    margin-top: 16px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.card-text {
    font-weight: bold;
    width: 85%;
}


    




.impressum {
    padding-top: 20px;
    padding-bottom: 20px;
}