body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(228, 226, 226);
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    color: red;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.link:hover {
    color: crimson;
    text-decoration: underline;
}

/* Bild */
.portrait {
    width: 100%;
    
    padding: 16px;
}

.img-container {
    background-color: white;
    
}
